$c--D_gray_further: #FAFCFF;
$c--D_gray_far: #C8D0E0;
$c--D_gray_base: #ABB5C7;
$c--D_gray_close: #36383D;
$c--D_gray_closer: #262729;


$c--black: #0D0D0D;
$c--white: #fff;


$c--accent: #FFD608;
$c--accent-P3: color(display-p3 1 .8431 .0314 / 1);
$c--accent_mid: #CC5C00;
$c--accent_mid-P3: color(display-p3 .8 .3608 0 / 1);
