:root {
  --roundedCorner: 5px;
  @include media("≤small") { 
    --viewport-padding: #{$unit--padding-small};
    --gutter: #{$unit--spacing-sm};
  }
  @include media(">small", "≤medium") {
    --viewport-padding: #{$unit--padding-medium};
    --gutter: #{$unit--spacing};
  }
  @include media(">medium") {
    --viewport-padding: #{$unit--padding-large};
    --gutter: #{$unit--spacing};
  }
  --gridColsMax: 12;
  --gridColsMin: 6;
  --containerWidth: 100vw - (var(--viewport-padding) * 2);
  --minColumnWidth: calc((var(--containerWidth) - (var(--gutter) * (var(--gridColsMax) - 1))) / var(--gridColsMax));
  --maxContainerWidth: #{$unit--breakpoint-xlarge};
  --maxColumnWidth: calc((var(--maxContainerWidth) - (var(--gutter) * (var(--gridColsMax) - 1))) / var(--gridColsMax));
  
  // size to columns w/o using display: grid
  --full-grid-width: 100%;
  --two-thirds-grid-width: ((200% - var(--gutter)*4)/3) + var(--gutter);
  --half-grid-width: (100% - var(--gutter))/2;
  --one-third-grid-width: (100% - var(--gutter)*2)/3;
  --quarter-grid-width: (100% - var(--gutter)*3)/4;
  --fifth-grid-width: (100% - var(--gutter)*4)/5;
  
  // fakes grid positioning on nongrid els
  --startSecondHalf: calc(50vw - var(--viewport-padding) + (var(--gutter) / 2));
  
  //spacer as padding
  --paddingGridSpacer: min(116px, calc((var(--gutter) * 2) + (var(--minColumnWidth) + (var(--gutter) * 2))/2));;
}

$spanColumns: calc((var(--columnCount) * var(--minColumnWidth)) + ((var(--columnCount) - 1) * var(--gutter)));

//theme vars
:root {
  @include themedColor(
  --theme-text, 
    #{$c--accent_dark}, 
    #{$c--accent_dark-P3}, 
    #{$c--accent_light}, 
    #{$c--accent_light-P3}
  );
  @include themedColor(
  --theme-selectionTextColor, 
    #{$c--accent_light}, 
    #{$c--accent_light-P3}, 
    #{$c--accent_dark}, 
    #{$c--accent_dark-P3}
  );
@include themedColor(
  --theme-selectionBackgroundColor, 
    #{$c--accent_dark}, 
    #{$c--accent_dark}, 
    #{$c--accent_light}, 
    #{$c--accent_light}, 
  );
  @include themedColor(
  --theme-links, 
    #{$c--accentSecondary_dark}, 
    #{$c--accentSecondary_dark-P3}, 
    #{$c--accentSecondary_light}, 
    #{$c--accentSecondary_light-P3}
  );
@include themedColor(
  --theme-links-decoration, 
    #{$c--accentSecondary}, 
    #{$c--accentSecondary-P3}, 
    #{$c--accentSecondary}, 
    #{$c--accentSecondary-P3}
  );
@include themedColor(
  --theme-links-background, 
    #{$c--accent}, 
    #{$c--accent-P3}, 
    #{$c--accent}, 
    #{$c--accent-P3}
  );  
  @include themedColor(
  --theme-background, 
    #{$c--accent_light}, 
    #{$c--accent_light-P3},
    #{$c--accent_dark}, 
    #{$c--accent_dark-P3}
  );
  @include themedColor(
  --accentColor,
    #{$c--accent}, 
    #{$c--accent-P3}, 
    #{$c--accent},  
    #{$c--accent-P3}
  );

  @include themedColor(
  --theme-debug,
    red, 
    red, 
    red,  
    red,  
  );
}