<div class="viewport-measure"><span class="xxsmall">🧭 ≤ xxSmall</span><span class="xsmall">xxSmall < 🧭 ≤ xSmall</span><span class="small">xSmall < 🧭 ≤ Small</span><span class="medium">Small < 🧭 ≤ Medium</span><span class="large">Medium < 🧭 ≤ Large</span><span class="xlarge">Large < 🧭 ≤ xLarge</span><span class="xxlarge">xLarge < 🧭</span><span class="vwidth">replaceMe</span>
</div>
<ul class="debug-grid">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>