
// Common 

%resetTo100VW {
  width: calc(100% + var(--viewport-padding)*2);
  margin: 0 calc(var(--viewport-padding)*-1);
}

%resetToFull {
  @extend %resetTo100VW;
  --minWidth: calc(#{$unit--breakpoint-xlarge} + var(--viewport-padding)*2);
  min-width: var(--minWidth);
  
}

.fullWidthSection {
  display: block;
  position: relative;
  padding: 0 var(--viewport-padding);
  @extend %resetTo100VW;

   @include media("≤small") {
    --minWidth: 100%;
  }
}



.aboutMe {
  overflow: hidden;
}

.contentWrapper {
  @extend %wrapper; 
  position: relative;
}

// Section: About

.aboutMeContainer, .photoHeaderContainer,  {
  @extend %grid;
  align-items: center;
}

.pageHeader {
  position: relative;
  z-index: 1;
  --gridRow: 2 / 3;
  margin-bottom: 1rem;
  @include media("≤small") {
    --gridCol: 1 / 7;
    -gridRow: 2 / 3;
  }
  @include media(">small", "≤medium") {
    --gridCol: 2 / 10;
  }
  @include media(">medium") {
    --gridCol: 2 / 11;
  }
}

.bigText  {
  position: relative;
  z-index: 1;
  --gridRow: 3 / 4;
  @include media("≤small") {
    --gridCol: 1 / 7;
    -gridRow: 3 / 4;
  }
  @include media(">small", "≤medium") {
    --gridCol: 2 / 5;
  }
  @include media(">medium") {
    --gridCol: 2 / 7;
  }
}

.nameHeader, .aboutMeText p, .photoHeaderText p {
  width: 100%;
  margin-right: var(--gutter);
  display: block;
}

.heroPhoto {
  padding-bottom: var(--paddingBottom, 100%);
  position: var(--position, relative);
  display: var(--display, block);
  --gridRow: 1 / 5;
  --gridCol: 7 / 12;
  --shadowSecondaryColor: 204, 94, 0;
  --shadowColor: 204, 94, 0;
  @extend %shadow;
  

  @include media("≤large") {
    
    

  }
  @include media("≤small") { 
    --gridCol: 2 / 6;
    --gridRow: 1 / 5;
    margin-top: -50%;
    opacity: 0.33;
  } 
}
  
.heroPhotoTransparent {
  opacity: 0.25;
  @include media("≤small") {
    transform: translateX(-50%);
    left: 50%;
    --display: block;
  }
}

.heroPhoto img, .heroPhotoAlternate img {
    position: absolute;
    height: 100%;
    @include share(top, bottom, 0);
}

.heroPhoto {
  background-image: url("/assets/img/me-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
