@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

.card-wrap {
  width: 350px;
  margin: auto;
  position: relative;
  perspective: 500px;
}

.card {
  border-radius: 8px;
  height: 200px;
  position: relative;
  color: #9C9C9C;
  font-family: 'Ubuntu Mono', monospace;
  background: #fff;
--shadowSecondaryColor: 204, 94, 0;
--shadowColor: 204, 94, 0;
  box-shadow: 
  0 0.9px 0.9px rgba(var(--shadowSecondaryColor,  0, 0, 0), 0.056),
  0 2.1px 2.1px rgba(var(--shadowSecondaryColor,  0, 0, 0), 0.08),
  0 4px 4px rgba(var(--shadowSecondaryColor,  0, 0, 0), 0.1),
  0 7.1px 7.1px rgba(var(--shadowSecondaryColor,  0, 0, 0), 0.12),
  0 13.4px 13.4px rgba(var(--shadowSecondaryColor,  0, 0, 0), 0.144),
  0 5px 0 -2px rgba(255, 255, 255, 1),
  0 32px 32px rgba(var(--shadowColor,  0, 0, 0), 0.2);
  transform: rotateX(10deg);
}

.label {
  font-size: 14px;
  opacity: .7;
  margin-bottom: 5px;
}

.value {
  text-transform: uppercase;
  font-size: 18px;
}

.number {
  font-size: 24px;
  line-height: 1;
  position: absolute;
  top: 80px;
  left: 15px;
}

.number span {
  margin-right: 10px;
  display: inline-block;
}

.owner-data {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 0 0 8px 8px;
}

.validate {
  text-align: center;
}

.bar {
  background: linear-gradient(-45deg, rgba(203,203,203,1) 0%, rgba(255,255,255,1) 66%, rgba(241,241,241,1) 100%);

  height: 40px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 20px;
}

.secret-code {
  position: absolute;
  top: 100px;
  right: 15px;
}

.animate {
  -webkit-transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
