<!-- favicons -->
<link rel="icon" sizes="228x228" href="/assets/img/site-icon/favicon-228.png">
<link rel="icon" sizes="196x196" href="/assets/img/site-icon/favicon-196.png">
<link rel="icon" sizes="195x195" href="/assets/img/site-icon/favicon-195.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/site-icon/favicon-180.png">
<link rel="apple-touch-icon" sizes="152x152"href="{/assets/img/site-icon/favicon-152.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/site-icon/favicon-144.png">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="/assets/img/site-icon/favicon-144.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/site-icon/favicon-120.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/site-icon/favicon-114.png">
<link rel="googleTV-icon" sizes="96x96" href="/assets/img/site-icon/favicon-96.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/site-icon/favicon-76.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/site-icon/favicon-72.png">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/img/site-icon/favicon-57.png">
<link rel="shortcut icon" href="/assets/img/site-icon/favicon.ico" type="image/ico" />
<link rel="icon" href="/assets/img/site-icon/ico-64.png" sizes="64x64">
<link rel="icon" href="/assets/img/site-icon/ico-48.png" sizes="48x48">
<link rel="icon" href="/assets/img/site-icon/ico-32.png" sizes="32x32">
<link rel="icon" href="/assets/img/site-icon/ico-24.png" sizes="24x24">
<link rel="icon" href="/assets/img/site-icon/ico-16.png" sizes="16x16">
<!-- end favicons -->